.smallcaps {
  font-variant: small-caps;
}

.gloss {
  font-variant: small-caps;
}

h1 {
    color: red;
    margin: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    max-width: 100%;
    border-top: 2.27px solid black;
    border-bottom: 2.27px solid black;
    border-left: 0px;
    border-right: 0px;
    overflow-x: auto; 
    margin: 20px;
}
th,
td {
    border: 0 none !important;
    text-align: left;
    padding: 0.5rem;
    line-height: 1.1;
}
table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
    border-top: 1.36px solid black !important;
}
table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
    border-bottom: 1.36px solid black !important;
}
thead th {
    background-color: white !important;
    font-weight: 700;
}