.smallcaps {
  font-variant: small-caps;
}

.gloss {
  font-variant: small-caps;
}

 /* Tooltip container */
.gloss {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.gloss .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-variant: normal;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.gloss .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.gloss:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 


dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

div#toc {
    position:fixed;
    /*width: 40em;*/
    font-size: 65%;
    top: 3.5em;
    left: 1em;
    line-height: 120%;
}

.version {
  margin: 0.85rem 0;
  text-align: center;
  font-family: monospace;
}

/*taken from https://latex.vercel.app/style.css*/

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
dl,
dd {
  margin: 0;
}

article {
  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.8;

  max-width: 80ch;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2rem 1.25rem;

  color: hsl(0, 5%, 10%);
  background-color: hsl(210, 20%, 98%);

  text-rendering: optimizeLegibility;
}

/* Justify and hyphenate all paragraphs */
p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  margin-top: 1rem;
}



table {
border-collapse: collapse;
/*display: inline;*/
/*margin:4px;*/
border-spacing: 0px 0px;
/*margin: 0 auto;*/
border: none;
  margin-left: auto;
  margin-right: auto;
}

td, th {
 border:  none;
  text-align: left;
  padding: 0.5rem;
  line-height: 1.1;
}

thead {
    border-bottom: 1px solid black;
    border-top: 2px solid black;
}

tbody {
    border-bottom: 2px solid black;
}

ol table {
  border-collapse: collapse;*/
  border-spacing: 0px 0px;
display: inline;
margin:4px;
margin: 0 auto;
}

ol thead {
    border-bottom: 0px;
    border-top: 0px;
}

ol th {
    font-weight: normal;
}

ol tbody {
    border-bottom: 0px;
}


/* Center align the title */
h1:first-child {
  text-align: center;
}

/* Center align author name, use small caps and add vertical spacing  */
.author {
  margin: 0.85rem 0;
  font-variant-caps: small-caps;
  text-align: center;
}


/* Heading typography */
h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 1.625rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.4rem;
  margin-top: 2.5rem;
}

h4 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

h5 {
  font-size: 1rem;
  margin-top: 1.8rem;
}

h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  margin-top: 2.5rem;
}

h3,
h4,
h5,
h6 {
  line-height: 1.625rem;
}

h1 + h2 {
  margin-top: 1.625rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 0.8rem;
}

h5 + h6 {
  margin-top: -0.8rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8rem;
}
